@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This is the London Exchange API project <a href="https://docs.microsoft.com/aspnet/core"> using .NET</a>.</p>
</div>
